@font-face {
    font-family: 'BPG Banner QuadroSquare Caps';
    src: url('../fonts/bpg-banner-quadrosquare-caps-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-banner-quadrosquare-caps-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-banner-quadrosquare-caps-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-banner-quadrosquare-caps-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-banner-quadrosquare-caps-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-banner-quadrosquare-caps-webfont.svg#bpg_banner_quadrosquare_capsregular') format('svg'); /* Legacy iOS */
}