@font-face {
    font-family: 'BPG Nino Medium Condenced';
    src: url('../fonts/bpg-nino-medium-condenced-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-nino-medium-condenced-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-nino-medium-condenced-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-nino-medium-condenced-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-nino-medium-condenced-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-nino-medium-condenced-webfont.svg#bpg_nino_medium_condencedregular') format('svg'); /* Legacy iOS */
}