@font-face {
    font-family: 'BPG Rioni Vera Light';
    src: url('../fonts/bpg-rioni-vera-light-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-rioni-vera-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-rioni-vera-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-rioni-vera-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-rioni-vera-light-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-rioni-vera-light-webfont.svg#bpg_rioni_vera_lightregular') format('svg'); /* Legacy iOS */
}